.navbar{
    background-color: black;
    padding: 8px 16px;
}

.navbar-item{
    text-decoration: none;
    color: gray;
}
.navbar-item:hover{
    color: #fac564;
}
.active{
    color: #fac564;
}
ul{
    list-style: none;
}

ul li{
    display: inline;
    margin: 10px;
}

